body {
    overflow: hidden;
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100%;
    background: 
        url(../images/desktop/logo.png) 50% 0% no-repeat,
        url(../images/desktop/Выбери\ сундук\,\ за\ ним\ скрывается\ твой\ клад.png) 50% -700%/930px 45px no-repeat,
        url(../images/desktop/хочешьбонус\ 1.png) 50% 0% no-repeat,
        url(../images/desktop/image\ 11.png) 0% 100% no-repeat,
        url(../images/desktop/image\ 12.png) 100% 100% no-repeat,
        url(../images/desktop/image\ 15.png) 0% 100% no-repeat,
        url(../images/desktop/image\ 10.png) 100% 100% no-repeat,
        url(../images/desktop/background/purple-forest-with-stone-middle-blue-light-left\ 1.png) 0% 0%/100% 100% no-repeat;
}

.container_main {
    margin-top: 20%;
    margin-bottom: 10%;
}

.container_button_game {
    margin-top: 10%;
}

.button_game {
    width: 230px;
    height: 75px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 700;
    font-size: 32px;
    color: white;
    border: none;

    background-color: none;
    background: url(../images/desktop/image\ 16.png);
}

.key_block {
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;
}

.red {
    border: 2px solid red;
}